header img{
	width: 15%;
	padding-left: 5%;
	display:inline-block;
}
#heading{
	float:right;
	padding-right: 10%;
	padding-top: 1%;
	line-height: 1em;
}
#heading a{
	text-decoration: none;
}
#code-fox{
	display: block;
	text-align: center;
	height: 100%;
	width: 100%;
}
#code-fox a{
	text-decoration: none;
	color: #000000;
}
h1{
	font-family: 'Domine', serif;
	font-size: .75em;
	font-weight: bold;
}
h2{
	font-family: 'Kaushan Script', cursive;
	font-size: .60em;
	font-weight: 100;
}
#portfolio{
	text-align: center;
}
#portfolio h1{
	font-family: 'Kaushan Script', cursive;
	font-size: 2em;
	border-bottom: double 5px #D35400;
	width: 80%;
	margin: auto;
}
#portfolio img{
	width: 25%;
}
#portfolio a{
	color: #D35400;
}
main{
	padding: 2%;
}
#hero-img{
	width: 92%;
	margin: 2% auto;
	padding: 2% 2%;
	border: double 4px #D35400;
	max-height: 350px;
}
#left-container{
	width: 100%;

}
.project{
	width:100%;
}
.project a{
	text-decoration: none;
	font-size: 1.25em;
}
.project p{
	font-size:.75em;
}
.project img{
	width: 150px;
}
.text{
	margin: 3% 0;
	padding-bottom: 2%;
	line-height: 1em;
}
#certificates{
	width: 100%;
	font-size: .65em;
}
#certificates h2{
	font-family: 'Domine', serif;
	text-decoration: underline;
	font-size: 1.75em;
	color: #D35400;
}
#certificates ul{
	list-style-type: none;
	text-align: left;
}
#certificates a{
	color: #000000;
	text-decoration: none;
}
footer{
	width: 90%%;
	margin: auto;
	padding: 1% 0;
	color: #FFFFFF;
	background-color: #3D3D3D;
	font-size: 1em;
}
footer p{
	text-align: center;
}
footer span{
	text-decoration: underline;
}
.mobie-hide{
	display:hidden;
}

/* Beginning of Media Queries for Responsive Design */

/*Tablet Sized Devices*/
@media screen and (min-width: 768px){
h1{
	font-size: 1.2em;
}
h2{
	font-size: 1.2em;
}
header img{
	padding-top: 2%;
}
.project{
	width: 40%;
	padding: .5%;
	margin: 0 auto;
	display: inline-block;
}
.project img{
	width: 100%;
	max-height: 150px;
}
.project a{
	font-size: 1.3em;
}
span .mobile-hide{
	display: inline-block;
}
}
/*Desktop and Larger Devices*/
@media screen and (min-width: 1024px){
	h1{
	font-size: 1em;
}
header img{
	width: 15%;
	padding-left: 5%;
	display:inline-block;
}
#heading{
	padding-top: 5%;
}
#heading h1{
	font-size: 1.5em;
}
#heading h1:hover, #heading a:hover{
	color: #D35400;
}
#code-fox{
	padding-top: 2%;
}
h2{
	font-size: 2em;
}
.project a{
	font-size: 2em;
}
#certificates{
	width: 50%;
}
#certificates ul{
	list-style-type: none;
	text-align: left;
}
#certificates a{
	color: #000000;
	text-decoration: none;
}
#certificates a:hover{
	color: #D35400;
}
}