header img{
	width: 15%;
	padding-left: 10%;
	padding-top: 5%;
}
#heading{
	font-family: "Helvetica Neue";
	float:right;
	padding-right: 10%;
	line-height: 1em;
}
h1{
	font-size: .75em;
	font-weight: bold;
}
h2{
	font-size: .60em;
	font-weight: 100;
}
main{
	padding: 2%;
}
main img{
	width: 100%;
	max-height: 250px;
}
#portfolio{
	text-align: center;
}
.trio{
	width:100%;
}
.trio a{
	text-decoration: none;
	font-family: Baskerville;
}
.trio img{
	width: 150px;
}
.text{
	margin: 3% 0;
	padding-bottom: 2%;
	border-top: solid 2px orange;
	border-bottom: solid 4px orange;
	line-height: 1em;
}
footer{
	width: 88%;
	margin: 2%;
	padding: 4%;
	color: #FFFFFF;
	background-color: #3D3D3D;
	font-size: 1.5em;
}
footer p{
	text-align: center;
}
footer span{
	text-decoration: underline;
}

/* Beginning of Media Queries for Responsive Design */

/*Tablet Sized Devices*/
@media screen and (min-width: 768px){
h1{
	font-size: 18pt;
}
h2{
	font-size: 18pt;
}
header img{
	padding-top: 2%;
}
.trio{
	width: 26%;
	padding: .5%;
	display: inline-block;
	line-height: .75em;

}
.trio img{
	width: 100%;
	max-height: 150px;
}
.trio a{
	font-size: 20pt;
	line-height: .1em;
}
#boat{
	height: 125px;
}

}
/*Desktop and Larger Devices*/
@media screen and (min-width: 1024px){
	h1{
	font-size: 1em;
}

#heading h1:hover{
	color: orange;
}
h2{
	font-size: 28pt;
}
.trio a{
	font-size: 24pt;
}
}