header img{
	width: 15%;
	padding-left: 10%;
}

#heading{
	font-family: "Helvetica Neue";
	float:right;
	padding-right: 10%;
	line-height: 1em;
}
h1{
	font-size: 28pt;
	font-weight: bold;
}
h2{
	font-size: 28pt;
	font-weight: 100;
}

main{
	padding: 2%;
}

main img{
	width: 100%;
	max-height: 250px;
}

#portfolio{
	text-align: center;
}

.trio{
	width: 26%;
	padding: .5%;
	display: inline-block;
	line-height: .75em;

}
.trio a{
	text-decoration: none;
	font-family: Baskerville;
	font-size: 24pt;
	font-style: italic;
	color: #BB1F25;
	line-height: .1em;
}
.trio img{
	max-height: 150px;
}
.text{
	margin: 3% 0;
	padding-bottom: 2%;
	border-top: solid 2px #0D4B6E;
	border-bottom: solid 4px #0D4B6E;
	line-height: 1em;
}
footer{
	width: 88%;
	margin: 2%;
	padding: 4%;
	color: #FFFFFF;
	background-color: #3D3D3D;
}
footer p{
	text-align: center;
}
footer span{
	text-decoration: underline;
}

@media screen and (min-width: 1024px){

}