*{
	margin: 0%;
	padding: 0%;
	box-sizing:border-box;
}
.navbar{
	display: none;
}
#profile-pic{
	width: 50%;
	margin: 5% 25%;
	border-radius: 30%;
	border: solid 3px #D35400;
}
#heading{
	text-align: center;
	line-height: 1.5em;
}
#heading a{
	text-decoration: none;
}
#heading p{
	padding-top: .75%;
}
#code-fox{
	display: block;
	height: 100%;
	width: 100%;
}
#code-fox a{
	text-decoration: none;
	color: #000000;
}
#code-fox img{
	width: 15%;
	display:inline-block;
}
#fox-rule{
	width: 100%;
}
h1{
	font-family: 'Domine', serif;
	font-size: 1.4em;
	font-weight: bold;
}
h2{
	font-family: 'Kaushan Script', cursive;
	font-size: 1.2em;
	font-weight: 100;
	text-align: center;
}
#front-end-projects h2{
	text-decoration: underline;	
}
#portfolio{
	text-align: center;
}
#portfolio h1{
	font-family: 'Kaushan Script', cursive;
	border-bottom: double 5px #D35400;
	width: 80%;
	margin: 3% auto;
}
#portfolio img{
	width: 25%;
}
#portfolio a{
	color: #D35400;
}
main{
	padding: 2%;
}
#left-container{
	width: 100%;
}
.project{
	width:100%;
}
.project a{
	text-decoration: none;
	font-size: 1.25em;
}
.project p{
	font-size:.75em;
}
.project img{
	width: 150px;
}
.info{
	margin: 2%;
	padding: 2S%;
	font-size: .75em;
	line-height: 1em;
	text-align: left;
}
#certificates-laptop{
	display:none;
}
#certificates{
	width: 100%;
	font-size: .65em;
}
#certificates h2{
	font-family: 'Domine', serif;
	text-decoration: underline;
	font-size: 1.75em;
	color: #D35400;
}
#certificates ul{
	list-style-type: none;
	text-align: left;
}
#certificates a{
	color: #000000;
	text-decoration: none;
}
#social-media img{
	width: 50px;
	height: 50px;
}
footer{
	width: 90%%;
	margin: auto;
	padding: 1% 0;
	color: #FFFFFF;
	background-color: #3D3D3D;
	font-size: 1em;
}
footer p{
	text-align: center;
}
footer span{
	text-decoration: underline;
}
#right-cert, #left-cert{
	display: inline-block;
}
#left-cert{
	width: 100%;
}
#right-cert{
	display:none;
}

/* Beginning of Media Queries for Responsive Design */

/*Tablet Sized Devices*/
@media screen and (min-width: 768px){
.navbar{
	display: inline-block;
	width: 100%;
	height: 50px;
	margin: 0 auto;
	position: fixed;
	top: 0;
	border-bottom: 5px double #D35400;
	background: #FFFFFF;
	padding: 2%;
}
.navbar ul{
	list-style-type: none;
	display: flex;
	justify-content: center;
}
.navbar li{
	padding: .5% 2% 0 2%;
}
.navbar a{
	text-decoration:none;
	color: #000000;
}
.navbar .dropdown{
	display: none;
}	
header{
	width: 90%;
	margin: 0 5%;
}
#profile-pic{
	width: 25%;
	height: 25%;
	display: inline-block;
	margin: 2% 0 2% 15%;
}
#code-fox h2{
	text-align: right;
}
#home{
	margin: 10% 2%;
	width: 90%;
	padding-top: 75px;
	height: 100vh;
}
#portfolio{
	width: 100%;
	height: 100vh;
	padding-top: 50px;
}
#heading{
	margin-top: 2%;
	text-align: right;
	display: inline-block;
}
#fox-rule{
	display:none;
}
.project{
	width: 40%;
	padding: .5%;
	margin: 0 auto;
	display: inline-block;
}
.project img{
	width: 100%;
	max-height: 150px;
}
.project a{
	font-size: 1.3em;
}
#right-cert, #left-cert{
	display: inline-block;
	width: 47%;
}
#left-container, #right-container{
	display: inline-block;
}
#certificates{
	display:none;
}
#certificates-laptop{
	width: 100%;
	height: 100vh;
	padding-top: 75px;
	display: inline-block;
}
#certificates-laptop h2{
	font-family: 'Domine', serif;
	text-decoration: underline;
	font-size: 1.75em;
	color: #D35400;
	padding-bottom: 2%;
}
#certificates-laptop ul{
	list-style-type: none;
	text-align: center;
}
#certificates-laptop a{
	color: #000000;
	text-decoration: none;
}
#social-media{
	width: 100%;
	height: 100vh;
	padding-top: 75px;
}
#social-media p{
	padding-bottom: 2%;
}
#left-cert{
	width: 100%;
}
footer{
	width: 100%;
	position: fixed;
	bottom: 0;
}
}

/*Desktop and Larger Devices*/

@media screen and (min-width: 1024px){

body{
	width: 75%;
	margin: 0 auto;
}
.navbar, footer{
	width: 75%;
	margin: 0 auto;
}
header{
}
#profile-pic{
	width: 20%;
}
#heading h1{
	font-size: 2.25em;
}
.info{

	font-size: 1em;
	margin: 2% auto;
}
#front-end-projects h2{
	font-size: 1.5em;
}
#front-end-projects .info{
	font-size: .80em;
	line-height: 1.2em;
}

}